* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222222;
    font-family: sans-serif;
}

header{
    background-color: #add8e6;
    min-height: 100px;
    padding-bottom: 5px;
}

.boxed_header{
    max-width: 900px;
    min-height: 100px;
    margin: 0 auto;
    padding-top: 35px;

}

.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    padding: 10px;
    width: 20%;
    border: dashed #000000;
    background-color: #daa520;
}

.link{
    padding: 10px;
    width: 60%;
    border: dashed #000000;
    background-color: #daa520;
}

.login{
    padding: 10px;
    width: 20%;
    border: dashed #000000;
    background-color: #daa520;
}

.boxed_section{
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.blue{
    
    background-color: #00008B;
}
.big_box1{
    height: 400px;
    width: 700px;
    border: dashed #000000;
    background-color: #EE82EE;
}

.white{
    background-color: #ffffff;
}

.grey{
    background-color: #D3D3D3;
}
.col_70{
    background-color: #1E90FF;
    height: 400px;
    width: 70%;
    border: dashed #000000;
}
.col_30{
    background-color: #FFC0CB;
    height: 400px;
    width: 30%;
    border: dashed #000000;
}
.square{
     background-color: #228B22;
    height: 900px;
    width: 900px;
    border: dashed #000000;
}

footer{
    padding-top:10px;
    min-height: 100px;
    background-color: #23272A;

}
.salmon{
    background-color: #F08080;
}
.col_40{
    height: 400px;
    width: 40%;
    border: dashed #000000;
}
.col_60{
    background-color: #20B2AA;
    height: 400px;
    
}
.white_border{
    border: dashed #ffffff;
    height: 400px;
    width: 25%;
}

.flex_footer{
    background-color: #7FFFD4;
    padding-top: 15px;
    max-width: 900px;
    min-height: 60px;
    margin: 0 auto;
    padding: 21px 0px;
    justify-content: space-between;
}
.spacing_row{
    border-top: solid 2px #7FFFD4;
    padding-bottom: 20px;
}

.pinky{
    background-color: #FFB6C1;
}

.f_button{
    padding: 10px;
    border: dashed #000000;
}

.f_logo{
    padding: 10px;
   
    border: dashed #000000;
}